<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
    
    <h1 class="mt-3 mb-3">チャット一覧</h1>
    <!--Userでログインしてたら-->

    <% if user_signed_in? %>
      ~<%= current_user.name %>がログインしてます~
      <br>
      <h2 class="mt-3 mb-3">先生一覧</h2>
      <br>

      <% @admins.each do |admin| %>
        <div style="display: flex;justify-content: space-between;align-items: center; margin-bottom: 10px;">
          <%= admin.name %>
          <!-- もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成 -->
          <% if @admin_ids.include?(admin.id) %>
            <br>
            <%= link_to "チャットへ", room_path(current_user.rooms.find_by(admin_id: admin.id)) %><br>
          <% else %>
            <%= form_for Room.new do |f| %>
              <%= f.hidden_field :admin_id, :value => admin.id %>
              <%= f.submit "トークする", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>

      <!--adminでログインしてたら-->

      <% else admin_signed_in? %>
        ~<%= current_admin.name %>がログインしてます~
        <br>
        <h2 class="mt-3 mb-3">ユーザー一覧</h2>
        <br>
        <% @users.each do |user| %>
          <div style="display: flex;justify-content: space-between;align-items: center; margin-bottom: 10px;">
            <%= user.name %>
              <!-- もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成 -->
              <% if @user_ids.include?(user.id) %>
                <br>
                <%= link_to "チャットへ", room_path(current_admin.rooms.find_by(user_id: user.id)) %><br>
              <% else %>
                <%= form_for Room.new do |f| %>
                  <%= f.hidden_field :user_id, :value => user.id %>
                  <%= f.submit "トークする", class: "btn btn-primary" %>
                <% end %>
              <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>