<header>
  <nav class="navbar navbar-expand-lg bg-dark navbar-light p-0">
    <%= link_to dashboard_path, class: "navbar-brand text-white ml-3" do %>
      Pro-School
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle text-white",
            role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
            プロフィール編集
          <% end %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "プロフィール編集", edit_profile_admin_path, class: "dropdown-item" %>
            <%= link_to "アカウント編集", edit_account_admin_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle text-white",
            role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
            レッスン編集
          <% end %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "レッスン一覧", dashboard_lessons_path, class: "dropdown-item" %>
            <%= link_to "レッスン投稿", new_dashboard_lesson_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "生徒用ページへ", root_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
  </nav>
</header>