<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag '/images/logo.png', alt: "ロゴ", class: "logo" %>
    <%end%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "先生用トップ", dashboard_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle",
            role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
            プロフィール編集
          <% end %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "プロフィール編集", edit_profile_admin_path, class: "dropdown-item" %>
            <%= link_to "アカウント編集", edit_account_admin_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle",
            role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
            レッスン編集
          <% end %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>