<nav class="col-md-2 d-none d-md-block bg-white sidebar dashboard-phone">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link active" do %>
          <i class="fas fa-home"></i><span class="align-middle">DashBoard</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_profile_admin_path, class: "nav-link active" do %>
          <i class="fas fa-user"></i><span class="align-middle">Profile</span>
        <% end%>
        <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <%= link_to edit_account_admin_path, class: "nav-link active" do %>
          <i class="fas fa-user"></i><span class="align-middle">Acconut</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_lessons_path, class: "nav-link active" do %>
          <i class="fas fa-list"></i><span class="align-middle">Lesson List</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_dashboard_lesson_path, class: "nav-link active" do %>
          <i class="fas fa-plus-square"></i><span class="align-middle">New Lesson</span>
        <% end %>
      </li>
      <li class="nav-item">
        レッスンcsv登録
      </li>
      <li class="nav-item">
        レッスン人気確認
      </li>
      <li class="nav-item">
        レッスン人気データ確認
      </li>
      <li class="nav-item">
        <%= link_to chattop_index_path, class: "nav-link active" do %>
          <i class="far fa-comment-dots"></i><span class="align-middle">Talk</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to reservations_path, class: "nav-link active" do %>
          <i class="fas fa-sign-out-alt"></i><span class="align-middle">予約一覧</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>