<!DOCTYPE html>
<html>
  <head>
    <title>Proschool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/dashboard/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render partial: 'layouts/dashboard/sidebar' %>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light" role="main">
          <%= yield %>
        </main>
      </div>
    </div>
    <%= render partial: 'layouts/dashboard/footer' %>
  </body>
</html>