<div class="row">
  <%= render partial: 'layouts/sidebar' %>
  <div class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light">
    <div class="container">
      <h3 class="mt-3"><%= @lesson.name %>の詳細</h3>
      <div class="row">
        <div class="col-ml-5">
          <div class="mx-1">
            <div class="js-main-img">
              <% if @lesson.images.attached? %>
                <%= image_tag @lesson.images[0], class: "lesson-show-image" %>
              <%else%>
                <%= image_tag '/images/logo.png', alt: "ロゴ", class: "lesson-show-image" %>
              <% end %>
            </div>
            <div class="d-flex justify-content-start mt-3">
              <% if @lesson.images.attached? %>
                <% @lesson.images.each do |image|%>
                  <ul class="js-sub-img" style="list-style: none;padding-left: 0px">
                    <li style="margin-right: 10px;">
                      <%= image_tag image, src: "画像", class: "lesson-show-slide-image" %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="mx-1">
            <div class="mt-3 text-center">
              <div class="row">
                <h5 class="col-md-5">商品名</h5>
                <h5 class="col-md-5"><%= @lesson.name %></h5>
              </div>
              <div class="row">
                <p class="col-md-5">金額<p>
                <p class="col-md-5 text-danger">¥<%= @lesson.price %>円</p>
              </div>
              <% if user_signed_in? %>
                <%= form_with url: cart_create_users_path, local: true do |f| %>
                  <%= f.hidden_field :lesson_id, value: @lesson.id %>
                  <%= f.hidden_field :name, value: @lesson.name %>
                  <%= f.hidden_field :price, value: @lesson.price %>
                  <div class="row mb-3">
                    <p class="col-md-5">数量</p>
                    <div class="col-md-5 quantity_field">
                      <%= f.number_field :quantity, min:1, value:1, class: "form-control w-50" %> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <%= f.submit "カートに追加", class: "btn btn-primary w-100" do %>
                        <i class="fas fa-shopping-cart"></i>
                      <% end %>
                    </div>
                    <div class="col-md-5">
                      <% if current_user.liked_by?(@lesson.id) %>
                        <%= link_to destroy_like_path(@lesson), method: :DELETE, class: "btn btn-primary w-100" do %>
                          <i class="fa fa-heart"></i>お気に入り解除
                        <% end %>
                      <% else %>
                        <%= link_to  create_like_path(@lesson), method: :POST, class: "btn btn-primary w-100" do %>
                          <i class="fa fa-heart"></i>お気に入り登録
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <hr>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2" scope="col">商品詳細</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>レッスン名</td>
                  <td><%= @lesson.name %></td>
                </tr>
                <tr>
                  <td>値段</td>
                  <td>¥<%= @lesson.price %>円</td>
                </tr>
                <tr>
                  <td>カテゴリー</td>
                 <td><%= @lesson.category.name %></td>
                </tr>
                <tr>
                  <td>先生名</td>
                  <td><%= @lesson.admin.name %></td>
                </tr>
              </tbody>
            </table>
            <div class="mx-1">
              <h4>レッスン詳細</h4>
              <div>
                <%= raw(@lesson.description.gsub(/\r/, "<br>")) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% if user_signed_in? %>
        <div class="row">
          <div class="offset-md-5 col-md-5">
            <%= form_with model: @comment, row: 5 ,url: lesson_comments_path(@lesson) do |f| %>
              <%= f.text_area :content, class: "form-control m-2", style: "height: 133px;resize: none;" %>
              <div id="rating-form">
                <label>評価：</label>
                <%# scoreNameの値をhidden_fieldでカラムに送っている %>
                <%= f.hidden_field :rate, :value => 'score' %>
              </div>
              <%= f.submit "レビューを追加" , class:"btn btn-primary ml-2"%>
            <% end %>
          </div>
        </div>
      <% end %>
      <br>
      <div class="row">
        <% @comments.each do |comment| %>
          <div class="offset-md-5 col-md-5">
            <div class="detail-value", id="star-comf-<%= comment.id %>"></div>
            <script>
              $('#star-comf-<%= comment.id %>').raty({      //.idでどの評価であるかを取得
                size: 38,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
                score: <%= comment.rate %>,              //scoreオプションで評価内容を取得
              });
            </script>
            <div class="review-rating" data-score="<%= comment.rate %>">評価:<%= comment.rate%>/5点</div>
            <p class="h3"><%= comment.content %></p>
            <label><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>

<script>
  $(function () {
    $(".js-sub-img img").on("click", function () {
      img = $(this).attr("src");
      $(".js-main-img img").fadeOut(100, function () {
        $(".js-main-img img")
          .attr("src", img)
          .on("load", function () {
            $(this).fadeIn(100);
        });
      });
    });
  });

  $('#rating-form').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'comment[rate]'
  });
</script>