<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag '/images/logo.png', alt: "ロゴ", class: "logo" %>
    <%end%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
            ホーム <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle",
            role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
            メニュー
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav mr-3">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle",
              role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
              <%= image_tag '/images/aicn.png', class: "user-profile-icon" %><span class="caret"></span>
            <% end %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <span class="dropdown-item">ユーザー編集</span>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>